## nlb-strategy/partials/haproxy-stats.cfg.j2

# TODO: improve security (fititnt, 2019-11-08 19:10 BRT)
# @see https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#stats%20uri

frontend stats
    bind {{ alb_haproxy_stats_ip | default('127.0.0.1') }}:{{ alb_haproxy_stats_port | default('8404') }}
    stats enable
    stats uri {{ alb_haproxy_stats_uri | default('/haproxy?stats') }}
    stats refresh 10s
{% if (alb_superuser_ip is defined) %}
# alb_superuser_ip is defined
{% if (alb_superuser_ip[0] is defined) %}
    acl network_allowed src 127.0.0.1 {{ alb_superuser_ip }}
{% else %}
    acl network_allowed src 127.0.0.1 {{ alb_superuser_ip | join(' ') }}
{% endif %}
    block if !network_allowed
{% else %}
# alb_superuser_ip is not defined
{% endif %}

{% if (alb_superuser_auth is defined and alb_superuser_auth[0] is defined) %}
# alb_superuser_auth is defined
{% for userandpassword in alb_superuser_auth %}
      stats auth    {{ userandpassword.username }}:{{ userandpassword.password }}
{% endfor %}
{% else %}
# alb_superuser_auth is not defined
{% endif %}