# {{ ansible_managed }}
# HOST:            {{ ansible_hostname }}
# FILE:            /etc/haproxy/haproxy.cfg
#
# HELP:            https://cbonte.github.io/haproxy-dconv/2.0/intro.html
# HELP:            https://cbonte.github.io/haproxy-dconv/2.0/configuration.html
# HELP:            https://cbonte.github.io/haproxy-dconv/2.0/management.html
#
# To check if this file is valid, use
# /usr/sbin/haproxy -c -V -f /etc/haproxy/haproxy.cfg

# To use HATop (Installed with `alb_manange_devtools: yes`), use
# hatop -s /run/haproxy/admin.sock

global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	# An alternative list with additional directives can be obtained from
	#  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

listen http-in
    bind *:{{ alb_haproxy_httpport }}
    server openresty_server1 {{ alb_openresty_ip }}:{{ alb_openresty_httpport }} maxconn 32

listen https-in
    # 'mode tcp' is required if backend is doing the full HTTPS termination
    # @see https://serversforhackers.com/c/using-ssl-certificates-with-haproxy
    mode tcp
    bind *:{{ alb_haproxy_httpsport }}
    server openresty_server1 {{ alb_openresty_ip }}:{{ alb_openresty_httpsport }} maxconn 32

{% if (alb_haproxy_stats_enabled is defined and alb_haproxy_stats_enabled is sameas true) %}
{% include "partials/haproxy-stats.cfg.j2" %}
{% endif %}
