# TEMPLATE:        {{ role_path }}/templates/nlb-strategy/partials/partials/haproxy-stats.cfg.j2

# TODO: improve security (fititnt, 2019-11-08 19:10 BRT)
# @see https://cbonte.github.io/haproxy-dconv/2.0/configuration.html#stats%20uri

frontend stats
    bind {{ alb_haproxy_stats_ip | default('127.0.0.1') }}:{{ alb_haproxy_stats_port | default('8404') }}
{% if ((alb_haproxy_stats_prometeus_exporter_enabled is defined) and (alb_haproxy_stats_prometeus_exporter_enabled|bool)) %}
    option http-use-htx
    http-request use-service prometheus-exporter if { path {{ alb_haproxy_stats_prometeus_exporter_path | default('/stats') }} }
{% endif %}
    stats enable
    stats uri {{ alb_haproxy_stats_uri | default('/stats') }}
    stats realm {{ alb_haproxy_stats_realm_escaped }}
    stats refresh 10s

{% if (alb_haproxy_stats_authcredentials is defined and (alb_haproxy_stats_authcredentials | length > 0) ) %}
{% for userandpassword in alb_haproxy_stats_authcredentials %}
      stats auth    '{{ userandpassword.username }}':'{{ userandpassword.password }}'
{% endfor %}
{% else %}
# alb_haproxy_stats_authcredentials empty
{% endif %}

{% if (alb_trusted_hosts_ips is defined and (alb_trusted_hosts_ips | length > 0) and (alb_haproxy_stats_trusted_hosts_only is sameas true)) %}
    acl network_allowed src 127.0.0.1 {{ alb_trusted_hosts_ips | join(' ') }}
    block if !network_allowed
{% else %}
# alb_trusted_hosts_ips empty
# alb_haproxy_stats_trusted_hosts_only false
{% endif %}
