# {{ ansible_managed }}
# HOST:            {{ ansible_hostname }}
# FILE:            /etc/haproxy/haproxy.cfg
# TEMPLATE:        {{ role_path }}/templates/nlb-strategy/haproxy-standard.cfg.j2
#
# HELP:            https://cbonte.github.io/haproxy-dconv/2.0/intro.html
# HELP:            https://cbonte.github.io/haproxy-dconv/2.0/configuration.html
# HELP:            https://cbonte.github.io/haproxy-dconv/2.0/management.html
#
# To check if this file is valid, use
# /usr/sbin/haproxy -c -V -f /etc/haproxy/haproxy.cfg

# To use HATop, use
# hatop -s /run/haproxy/admin.sock

# To Watch interative cli, use (thanks https://superuser.com/questions/1193917/how-to-view-haproxy-status-on-the-command-line-using-a-socket/1193918#1193918)
# watch 'echo "show stat" | nc -U  /run/haproxy/admin.sock | cut -d "," -f 1,2,5-11,18,24,27,30,36,50,37,56,57,62 | column -s, -t'
# echo "show stat" | nc -U /run/haproxy/admin.sock | grep "#" | tr ',' '\n' | nl

{{ nlb_raw_top }}

## If variable nlb_raw_global is defined it will REPLACE the global at /etc/haproxy/haproxy.cfg
{% if (nlb_raw_global is undefined) %}
# nlb_raw_global is undefined
global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

	# Default SSL material locations
	ca-base /etc/ssl/certs
	crt-base /etc/ssl/private

	# Default ciphers to use on SSL-enabled listening sockets.
	# For more information, see ciphers(1SSL). This list is from:
	#  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
	# An alternative list with additional directives can be obtained from
	#  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
	ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
	ssl-default-bind-options no-sslv3
{% else %}
# nlb_raw_global is defined
{{ nlb_raw_global }}
{% endif %}


## If variable nlb_raw_defaults is defined it will REPLACE the default at /etc/haproxy/haproxy.cfg
{% if (nlb_raw_defaults is undefined) %}
# nlb_raw_defaults is undefined
defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect {{ nlb_defaults_timeout_connect }}
        timeout client  {{ nlb_defaults_timeout_client }}
        timeout server  {{ nlb_defaults_timeout_server }}
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http
{% else %}
# nlb_raw_defaults is defined
{{ nlb_raw_defaults }}
{% endif %}


{% if (nlb_listen_openresty_safetoenable) %}
{% include "strategy/openresty.cfg.j2" %}
{% else %}
# Not including partials/listen-openresty.cfg.j2
{% endif %}

{% if (nlb_listen_redis_safetoenable) %}
{% include "strategy/redis.cfg.j2" %}
{% else %}
# Not including partials/listen-redis.cfg.j2
{% endif %}

{% if (alb_haproxy_stats_safetoenable) %}
{% include "partials/haproxy-stats.cfg.j2" %}
{% else %}
# Not including partials/partials/haproxy-stats.cfg.j2
{% endif %}

{{ nlb_raw_bottom }}