{% extends "minimal.conf.j2" %}
{% block app_alb_strategy_name %}{{ super() }},hello-world{% endblock %}

{% block app_raw_https %}
{{ super() }}
# hello-world | block app_raw_https

    charset_types application/json;
    default_type application/json;

    location = / {
         content_by_lua_block {
            local cjson = require "cjson"
            --- local h, err = ngx.req.get_headers()
            ngx.status = ngx.HTTP_OK
            ngx.say(cjson.encode({
                msg = "Hello, {{ item.app_uid }}",
                --- request = h,
                status = 200
            }))
         }
     }

{% endblock app_raw_https %}

{% block app_raw_http %}
{{ super() }}
# hello-world | block app_raw_http

    location = / {
         content_by_lua_block {
            local cjson = require "cjson"
            --- local h, err = ngx.req.get_headers()
            ngx.status = ngx.HTTP_OK
            ngx.say(cjson.encode({
                msg = "Hello, {{ item.app_uid }}",
                --- request = h,
                status = 200
            }))
         }
     }

{% endblock app_raw_http %}
