{% extends "minimal.conf.j2" %}
{% block app_alb_strategy_name %}{{ super() }},proxy{% endblock %}

{% block app_raw_https %}
{{ super() }}
# proxy | block app_raw_https

    ## @see # https://docs.min.io/docs/setup-nginx-proxy-with-minio.html
    # To allow special characters in headers
    ignore_invalid_headers off;
    # Allow any size file to be uploaded.
    # Set to a value such as 1000m; to restrict file size to a specific value
    client_max_body_size 0;
    # To disable buffering

    location / {
        proxy_ignore_client_abort on;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;

        proxy_pass   {{ item.app_alb_proxy }};
    }

{% endblock app_raw_https %}

{% block app_raw_http %}
{{ super() }}
# proxy | block app_raw_http

    ## @see # https://docs.min.io/docs/setup-nginx-proxy-with-minio.html
    # To allow special characters in headers
    ignore_invalid_headers off;
    # Allow any size file to be uploaded.
    # Set to a value such as 1000m; to restrict file size to a specific value
    client_max_body_size 0;
    # To disable buffering

    location / {
        proxy_ignore_client_abort on;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_pass   {{ item.app_alb_proxy }};
    }

{% endblock app_raw_http %}
