# {{ ansible_managed }}
#
# FILE:             /etc/logrotate.d/alb
#
# TODO: implement logrotate for ALB (fititnt, 2019-11-07 21:49 BRT)
# @see https://linux.die.net/man/8/logrotate
# @see https://manpages.debian.org/jessie/logrotate/logrotate.8.en.html

# IMPORTANT NOTE: this logrotate file still need testing (fititnt, 2019-11-07 22:04 BRT) 

/var/log/alb/access.log /var/log/alb/error.log {
    daily
    minsize 1M
    rotate 365
    dateext
    missingok
    compress
    delaycompress
    missingok
    sharedscripts
    postrotate
        [ ! -f {{ alb_openresty_pidfile }} ] || kill -USR1 `cat {{ alb_openresty_pidfile }}`
    endscript
}

/var/log/alb/letsencrypt.log {
    monthly
    rotate 48
    maxsize 10M
    dateext
    missingok
    compress
    delaycompress
    missingok
    sharedscripts
    postrotate
        [ ! -f {{ alb_openresty_pidfile }} ] || kill -USR1 `cat {{ alb_openresty_pidfile }}`
    endscript
}