## alb-strategy/partials/alb_health_check.conf.j2
# Test via command line, use
#    curl {{ item.app_domain }}/{{ alb_healthcheck_prefix }}/{{ item.app_uid }}

location = /{{ alb_healthcheck_prefix }}/{% if alb_healthcheck_token is defined and alb_healthcheck_token %}{{ alb_healthcheck_token }}/{% endif %}{{ item.app_uid }} {
    # charset_types application/json;
    # default_type application/json;

{% if (alb_healthcheck_public is undefined or alb_healthcheck_public is not sameas true) %}
    # This check alow is not sufficient when LB by HAproxy.
    # Recommended use of alb_healthcheck_token if you don't want expose health
    # checks
    allow 127.0.0.1;
    deny all;
{% endif %}

    auth_basic off;
    access_log off;

    # Note: these health checks could be improved with more specific application
    #       rules. For now is just a draft
    return 200 "+OK\n$hostname";
}
location /{{ alb_healthcheck_prefix }}/ {
    # charset_types application/json;
    # default_type application/json;

    # allow 127.0.0.1;
    # deny all;
    # access_log off;
    return 404 "Not Found\n";
}