{% extends "minimal.conf.j2" %}
{% block app_alb_strategy_name %}{{ super() }},files-local{% endblock %}

{% block app_raw_https %}
{{ super() }}
# files-local | block app_raw_https

    location / {
        root   {{ item.app_root | default(alb_default_app_root) }};
        index  {{ item.app_index | default(alb_default_app_index) }};
    }

{% endblock app_raw_https %}

{% block app_raw_http %}
{{ super() }}
# files-local | block app_raw_http

    location / {
        root   {{ item.app_root | default(alb_default_app_root) }};
        index  {{ item.app_index | default(alb_default_app_index) }};
    }

{% endblock app_raw_http %}
