# {{ ansible_managed }}
#
# Minio
# https://docs.min.io/docs/setup-nginx-proxy-with-minio.html
server {
    # listen 443 ssl;
    listen {{ alb_openresty_httpsport }} ssl;
    server_name {{ item.app_domain | default(alb_default_app_domain) }};

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    {{ alb_apprule_automatichttps_httpsblock }}

    location / {
        root   {{ item.app_root }};
        index  {{ item.app_index|default('index.html index.htm') }};
    }
}

server {
    # listen 80;
    listen {{ alb_openresty_httpport }};

    server_name {{ item.app_domain | default(alb_default_app_domain) }};

{% if item.app_forcehttps is defined and item.app_forcehttps is sameas true %}
    ## item.app_forcehttps: true
    ## redirect 301 except for Let's Encrypt HTTPS check.
    location / {
        return 301 https://{{ item.app_domain | default(alb_default_app_domain) }}$request_uri;
    }
{% else %}
#### HTTPS redirect not enforced, allow HTTP block serve content - START

    location / {
        root   {{ item.app_root }};
        index  {{ item.app_index|default('index.html index.htm') }};
    }

    # TODO: testar configuração a seguir aqui, e permitir que ele faça o resto

    # NOTA: curl -I http://site.com/.well-known/acme-challenge/aaaa
    #       rem redirecionado para httpS em vez de exibir o acme challange
#### HTTPS redirect not enforced, allow HTTP block serve content - END
{% endif %}

    {{ alb_apprule_automatichttp_httpsblock }}
}