{% extends "_base.conf.j2" %}
{% block app_alb_strategy_name %}{{ super() }},minimal{% endblock %}

{% block app_raw_https %}
# minimal | block app_raw_https

{% if item.app_raw_alb_file is defined and item.app_raw_alb_file %}
{% filter indent(width=4) %}{% include item.app_raw_alb_file %}{% endfilter %}
{% endif %}
{% if item.app_raw_alb is defined and item.app_raw_alb %}
{% filter indent(width=4) %}{{ item.app_raw_alb }}{% endfilter %}
{% endif %}

{% endblock app_raw_https %}

{% block app_raw_http %}
# minimal | block app_raw_http

{% if item.app_raw_alb_file is defined and item.app_raw_alb_file %}
{% filter indent(width=4) %}{% include item.app_raw_alb_file %}{% endfilter %}
{% endif %}
{% if item.app_raw_alb is defined and item.app_raw_alb %}
{% filter indent(width=4) %}{{ item.app_raw_alb }}{% endfilter %}
{% endif %}

{% endblock app_raw_http %}
