{% if item.app_raw_alb_file is defined and item.app_raw_alb_file %}
{% include item.app_raw_alb_file %}
{% endif %}
{% if item.app_raw_alb is defined and item.app_raw_alb %}
{{ item.app_raw_alb }}
{% endif %}
