# {{ ansible_managed }}
#
# Initially based on https://laravel.com/docs/5.7/deployment
server {
    # listen 443 ssl;
    listen {{ alb_openresty_httpsport }} ssl;
    server_name {{ item.app_domain | default(alb_default_app_domain) }};

    location = /favicon.ico { access_log off; log_not_found off; }
    location = /robots.txt  { access_log off; log_not_found off; }

    {{ alb_apprule_automatichttps_httpsblock }}

    ## @see # https://docs.min.io/docs/setup-nginx-proxy-with-minio.html
    # To allow special characters in headers
    ignore_invalid_headers off;
    # Allow any size file to be uploaded.  
    # Set to a value such as 1000m; to restrict file size to a specific value
    client_max_body_size 0;
    # To disable buffering

    root {{ item.app_root | default(alb_default_app_root) }};

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
{% if item.app_php_socket_path is defined %}
        fastcgi_pass unix:{{ item.app_php_socket_path }};
{% else %}
        fastcgi_pass unix:{{ alb_strategy_socket_php__defaultsocket }};
{% endif %}
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        include fastcgi_params;
    }
}

server {
    # listen 80;
    listen {{ alb_openresty_httpport }};

    server_name {{ item.app_domain | default(alb_default_app_domain) }};

{% if (item.app_forcehttps is defined and item.app_forcehttps is sameas true) or (item.app_forcehttps is undefined and alb_default_app_forcehttps is sameas true) %}
    ## item.app_forcehttps: true
    ## redirect 301 except for Let's Encrypt HTTPS check.
    location / {
        return 301 https://{{ item.app_domain | default(alb_default_app_domain) }}$request_uri;
    }
{% else %}
#### HTTPS redirect not enforced, allow HTTP block serve content - START

    # TODO: testar configuração a seguir aqui, e permitir que ele faça o resto

    # NOTA: curl -I http://site.com/.well-known/acme-challenge/aaaa
    #       rem redirecionado para httpS em vez de exibir o acme challange

    root {{ item.app_root | default(alb_default_app_root) }};

    location / {
        try_files $uri $uri/ /index.php?$query_string;
    }

    location ~ \.php$ {
{% if item.app_php_socket_path is defined %}
        fastcgi_pass unix:{{ item.app_php_socket_path }};
{% else %}
        fastcgi_pass unix:{{ alb_strategy_socket_php__defaultsocket }};
{% endif %}
        fastcgi_index index.php;
        fastcgi_param SCRIPT_FILENAME $realpath_root$fastcgi_script_name;
        include fastcgi_params;
    }

#### HTTPS redirect not enforced, allow HTTP block serve content - END
{% endif %}

    {{ alb_apprule_automatichttp_httpsblock }}
}